body{

	background-size: cover;

}



nav.navbar {
    background-color: #25236d;
}
.container-fluid {
  background-color: white;
  position: absolute;
  color: white;
  top: 95%; /* Bajar el container completo */
  left: 50%;
  transform: translate(-50%,-50%);
  width: 950px; /* Ancho del container*/
  height: 1220px; /*Altura o tamaño de largo del container o sona obscura*/
  padding: 40px 40px; /* Centrado del contenido del container n*/
  box-sizing: border-box;
  border-width: 200px;
  background: rgba(0,0,0,.8);
}
h2{
	margin: 0;
	padding: 0 0 30px; /*Distancia del titulo y la caja*/
}
  #main-header {
  background: #3dc1d3; /*Color de la cabecera principal*/
  color: white;
  height: 90px;

  
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  top: 0; /* Posicionamos la cabecera pegada arriba */
  position: fixed; /* Hacemos que la cabecera tenga una posición fija */

}


.site-name {
 color: #e66767; /* Color al pasar el cursor*/
  

display: block;
font-weight: 700;
font-size: 1.2em;
  }
  
 



  